body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f2f2f2;
    transition: 0.3s;
}

.dark {
    background: #121212;
    color: white;
}

header {
    background: #4a47a3;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dark-btn {
    background: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero */
.hero {
    background: linear-gradient(to right, #6a5acd, #836fff);
    padding: 70px;
    text-align: center;
    color: white;
}

/* Search */
.search-container {
    text-align: center;
    margin: 20px;
}

#searchBox {
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid gray;
}

/* Products */
.grid {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    width: 180px;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}

.price {
    color: #5b3fd1;
    font-weight: bold;
}

.rating {
    color: #ff9800;
}

/* Forms */
form input, button {
    display: block;
    width: 250px;
    padding: 10px;
    margin: 10px auto;
}

button {
    background: #4a47a3;
    color: white;
    border: none;
    border-radius: 8px;
}

button:hover {
    background: #372f91;
}

/* Footer */
footer {
    text-align: center;
    background: #4a47a3;
    color: white;
    padding: 15px;
    margin-top: 40px;
}
